@font-face {
  font-family: "Kalpurush";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("Kalpurush/Kalpurush.woff2") format("woff2"),
       url("Kalpurush/Kalpurush.woff") format("woff");
}