@font-face {
  font-family: "Mina";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("Mina/Mina-Regular.woff2") format("woff2"),
       url("Mina/Mina-Regular.woff") format("woff");
}

@font-face {
  font-family: "Mina";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("Mina/Mina-Bold.woff2") format("woff2"),
       url("Mina/Mina-Bold.woff") format("woff");
}