@font-face {
  font-family: "Noto Sans Bengali";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("NotoSansBengali/NotoSansBengali-Thin.woff2") format("woff2"),
       url("NotoSansBengali/NotoSansBengali-Thin.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Bengali";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("NotoSansBengali/NotoSansBengali-ExtraLight.woff2") format("woff2"),
       url("NotoSansBengali/NotoSansBengali-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Bengali";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("NotoSansBengali/NotoSansBengali-Light.woff2") format("woff2"),
       url("NotoSansBengali/NotoSansBengali-Light.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Bengali";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("NotoSansBengali/NotoSansBengali-Regular.woff2") format("woff2"),
       url("NotoSansBengali/NotoSansBengali-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Bengali";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("NotoSansBengali/NotoSansBengali-Medium.woff2") format("woff2"),
       url("NotoSansBengali/NotoSansBengali-Medium.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Bengali";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("NotoSansBengali/NotoSansBengali-SemiBold.woff2") format("woff2"),
       url("NotoSansBengali/NotoSansBengali-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Bengali";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("NotoSansBengali/NotoSansBengali-Bold.woff2") format("woff2"),
       url("NotoSansBengali/NotoSansBengali-Bold.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Bengali";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("NotoSansBengali/NotoSansBengali-ExtraBold.woff2") format("woff2"),
       url("NotoSansBengali/NotoSansBengali-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Bengali";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("NotoSansBengali/NotoSansBengali-Black.woff2") format("woff2"),
       url("NotoSansBengali/NotoSansBengali-Black.woff") format("woff");
}